* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  /* display: flex; */
  max-width: 700px;
  margin: 0 auto;
  padding: 0 .5rem;
  width: 100%;
}

.main {
  /* display: grid; */
  margin: 2rem auto;
}

.main > h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.app-section {
  width: 100%;
  margin: 2rem 0;
}
