.counter-container {
}

.counter > p {
    font-size: 2rem;
    margin: 0 auto;
}

.counter > div {
    display: flex;   
    gap: 2rem;
}

.counter-buttons {
    display: flex;
    flex-wrap: wrap;
}

.counter-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    /* margin: 0 auto; */
}